<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="with=device-width, initial-scale=1.0">
	<title>Team Render Benders</title>
	<link rel="stylesheet" href="port.css">

</head>
<body>
	<section class="header">
		<nav>
			<a href="main.html"><img src="images/Chris_Metellus.jpg"></a>
			<div class="nav-links">
				<ul>
					<li><a href="">HOME</a></li>
					<li><a href="">MEET THE TEAM</a></li>
					<li><a href="">RENDERS</a></li>
					<li><a href="">HOME</a></li>
				</ul>
			</div>
		</nav>

	</section>

</body>
</html>