<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="with=device-width, initial-scale=1.0">
	<title>Team Render Benders</title>
	<link rel="stylesheet" href="port.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>
	<section class="header">
		<nav>
			<a href="main.html"><img src="images/final-logo.png"></a>
			<div class="nav-links">
				<ul>
					<li><a href="main.html">HOME</a></li>
					<li><a href="team.html">MEET THE TEAM</a></li>
					<li><a href="resources.html">PROCESS, RESOURCES AND SPONSORS</a></li>
					<li><a href="renders.html">OUR RENDERS</a></li>
				</ul>
			</div>
		</nav>
<div class="text-box">
	<h1>Prologue</h1>
	<p>
		CPU, primary memory, input units, and output units. Long ago, the realm of computer processing hummed along in harmony. Then, everything changed when <br>big data attacked. Only the render guru, master of all four elements of computer processing could handle big data. But when the world needed him most, he vanished. <br> Several years passed and another team emerged, armed with computer science knowledge and numerous resources. Though their combined knowledge <br>was great, they have a lot to learn before they can conquer their first dataset. But I believe this team can render data to save our world. 
	</p>
	<a href="https://github.com/rollercoaster111/renderbenders" class="hero-btn">Link to our GitHub</a>
</div>
	</section>
	<!-----Course --->
	<section class="team-intro">
		<h1> Our Motivation </h1>
		<p>The importance of rendering three-dimensional objects cannot be understated. Displaying an animated version of a dataset can open a door to the public to better comprehend the research being done, and data visualization has often been the difference between research teams which have received funding and which ones have not. Our team has chosen to direct our efforts towards rendering carbon nanotubes, which have been highlighted as a nanomaterial structure due to their high tensile strength and flexibility. Furthermore, in recent years, there have been multiple research advances highlighting the use of oriented carbon nanotubes for water filtration and oil adsorption from water. This is where Team Render Benders comes into action. Our team aims to provide accurate renders of the carbon nanotubes, first of one, and then of an orientation similar to those within the aforementioned research advances.</p>
    </section>
    <section class="features">
    	<h1>Our Project</h1>
    	<p>Take a look at our team and the final result of our hackathon project!</p>
		<div class="row">
			<div class="intro-col">
				<img src="images/team_1.jpg" height="340">
				<div class="layer">
					<h3><a href="team.html">Our Team</a></h3>
				</div>
			</div>
			<div class="intro-col">
				<img src="images/python_2.jpg" height="340">
				<div class="layer">
					<h3><a href="resources.html">Resources and Sponsors</a></h3>
				</div>
			</div>
			<div class="intro-col">
				<img src="images/data_3.jpg" height="340">
				<div class="layer">
					<h3><a href="renders.html">Our Renders</a></h3>
				</div>
			</div>
		</div>
	</section>

	<!--Call to Action-->
	<section class="cta">
		<h1>Contact Us About Future RenderBender Projects!</h1>
		<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="hero-btn">CONTACT US</a>

	</section>
	<!---Footer-->
	<section class="footer">
		<h4>About Us</h4>
		<p>Team Render Benders is a hack team from the PEARC21 Hackathon which took place July 8-12, 2021.<br> This representation of our work is meant for viewing purposes only.</p>
		<!----
		<div class="icons">
			<i class="fa fa-facebook"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-facebook-square"></i>
		</div>
	-->
		<p>Made with CSS and HTML5.</p>
	</section>
</body>
</html>