<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="with=device-width, initial-scale=1.0">
	<title>Team Render Benders</title>
	<link rel="stylesheet" href="port.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>
	<section class="header">
		<nav>
			<a href="main.html"><img src="images/Chris_Metellus.jpg"></a>
			<div class="nav-links">
				<ul>
					<li><a href="">HOME</a></li>
					<li><a href="">MEET THE TEAM</a></li>
					<li><a href="">RENDERS</a></li>
				</ul>
			</div>
		</nav>
<div class="text-box">
	<h1>Prologue</h1>
	<p>
		CPU, primary memory, input units, and output units. Long ago, the realm of computer processing hummed along in harmony. Then, everything changed when <br>big data attacked. Only the render guru, master of all four elements of computer processing could handle big data. But when the world needed him most, he vanished. <br> Several years passed and another team emerged, armed with computer science knowledge and numerous resources. Though their combined knowledge <br>was great, they have a lot to learn before they can conquer their first dataset. But I believe this team can render data to save our world. 
	</p>
	<a href="" class="hero-btn">Link to our GitHub</a>
</div>
	</section>

</body>
</html>