<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="with=device-width, initial-scale=1.0">
	<title>Team Render Benders</title>
	<link rel="stylesheet" href="port.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>
	<section class="subheader3">
		<nav>
			<a href="main.html"><img src="images/final-logo.png"></a>
			<div class="nav-links">
				<ul>
					<li><a href="main.html">HOME</a></li>
					<li><a href="team.html">MEET THE TEAM</a></li>
					<li><a href="resources.html">PROCESS, RESOURCES AND SPONSORS</a></li>
					<li><a href="renders.html">OUR RENDERS</a></li>
				</ul>
			</div>
		</nav>
        <h1>Our Renders</h1>
        <p>Our team followed the process of converting the files made in Blender to Cloudycluster in an effort to compare rendering times. Our results are depicted below.</p><br><br><br><br>
	</section>
	<!----Resources---->
	<section class="features">
    	<h1>Pictures of Carbon Nanotubes</h1>
    	<p>Based upon the renders our team made in Blender, photos were taken of different perspectives in the software. Below are a few of the photos taken in Blender.</p>
		<div class="row">
			<div class="render-col">
				<img src="images/CNT_3.jpeg" height="300" width="350">
			</div>
			<div class="render-col">
				<img src="images/CNT_2.jpeg" height="300" width="350">
			</div>
			<div class="render-col">
				<img src="images/CNT_1.jpeg" height="300" width="350">
			</div>
		</div>
		<br>
		<figcaption>Figure 1: Screenshots of carbon nanotube render.</figcaption>
	</section>
	<section class="input">
		<h2>Creating Complex Arrangements of Carbon Nanotubes</h2>
		<p>
			In order to test the effectiveness of Cloudycluster regarding object rendering, our team created more complex arrangements of carbon nanotubes. For each one, the time was compared between how long it would take on a standard computer versus a Cloudycluster system. The following images demonstrate the results of this comparison.
		</p>
		<div class="row">
			<div class="render-col">
				<img src="images/cnt1.png" height="300" width="350">
			</div>
			<div class="render-col">
				<img src="images/cnt1-blue.png" height="300" width="350">
			</div>
			<div class="render-col">
				<img src="images/render1.png" height="300" width="350">
			</div>
		</div>
		<br>
		<figcaption>Figure 2: Render of carbon nanotube(CNT) (left), render of complex CNT configuration (middle), and render of CNT configuration (right).</figcaption>
	</section>
	<section class="vids">
		<h2>Final Render Animations</h2>
		<p>
			Once the renders were created, we worked to create a camera path in Blender which could represent our render well. Below is a video file detailing the animation of a basic carbon nanotube.
		</p>
		<div class="vid1">
			<iframe width="640" height="390" src="https://www.youtube.com/embed/watch?v=2nILAXKG-QU"></iframe> 
		</div>
		<figcaption>If the video doesn't work, try this link <a href="https://youtu.be/2nILAXKG-QU">here.</a></figcaption>
	</section>
	
	<!----Sponsors---->	
	<!---Footer--->
	<section class="footer">
		<h4>About Us</h4>
		<p>Team Render Benders is a hack team from the PEARC21 Hackathon which took place July 8-12, 2021.<br> This representation of our work is meant for viewing purposes only.</p>
		<!----
		<div class="icons">
			<i class="fa fa-facebook"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-facebook-square"></i>
		</div>
	-->
		<p>Made with CSS and HTML5.</p>
	</section>
</body>
</html>