<!----This is the resources and sponsors webpage.-->
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="with=device-width, initial-scale=1.0">
	<title>Team Render Benders</title>
	<link rel="stylesheet" href="port.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>
	<section class="subheader2">
		<nav>
			<a href="main.html"><img src="images/Chris_Metellus.jpg"></a>
			<div class="nav-links">
				<ul>
					<li><a href="">HOME</a></li>
					<li><a href="">MEET THE TEAM</a></li>
					<li><a href="">RESOURCES AND SPONSORS</a></li>
					<li><a href="">OUR RENDERS</a></li>
				</ul>
			</div>
		</nav>
        <h1>Resouces Used and Sponsors</h1>
        <p>Similar to the team pictured in this background, our team is formed from a collection of people from various backgrounds<br> and upbringings. Take a moment to read more about each of the members.</p><br><br><br><br>
	</section>

	<!----Resources---->
	<section class="resources">
	<h1>Resources</h1>
	<p>A plethora of resources provided to us by our sponsors were instrumental in the completion of this hackathon project, a few of which will be discussed in the following section.</p>
	<br>
	<br>
	</section>
	<!----Sponsors---->
	<section class="sponsors">
	</section>
	
	<!---Footer--->
	<section class="footer">
		<h4>About Us</h4>
		<p>Team Render Benders is a hack team from the PEARC21 Hackathon which took place July 8-12, 2021.<br> This representation of our work is meant for viewing purposes only.</p>
		<!----
		<div class="icons">
			<i class="fa fa-facebook"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-facebook-square"></i>
		</div>
	-->
		<p>Made with CSS and HTML5.</p>
	</section>
</body>
</html>