<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="with=device-width, initial-scale=1.0">
	<title>Team Render Benders</title>
	<link rel="stylesheet" href="port.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
</head>
<body>
	<section class="subheader">
		<nav>
			<a href="main.html"><img src="images/final-logo.png"></a>
			<div class="nav-links">
				<ul>
					<li><a href="main.html">HOME</a></li>
					<li><a href="team.html">MEET THE TEAM</a></li>
					<li><a href="resources.html">PROCESS, RESOURCES AND SPONSORS</a></li>
					<li><a href="renders.html">OUR RENDERS</a></li>
				</ul>
			</div>
		</nav>
        <h1>Meet the Team</h1>
        <p>Similar to the team pictured in this background, our team is formed from a collection of people from various backgrounds<br> and upbringings. Take a moment to read more about each of the members.</p><br><br><br><br>
	</section>

	<!----About Us Content-->
	<section class="meet-us">
		<div class="row">
			<div class="member1">
				<h1>Rich Asay, PhD - Lead Mentor</h1>
				<p>Rich Asay’s academic background consists of a Bachelor of Arts in Linguistics and French, an MBA from California State University-Sacramento, and a PhD in Instructional Design & Technology. Despite a decent portion of Rich’s academic base being non-technical, his corporate experience with companies such as Cisco, West Corporation, and Rabbit Innovations, LLC has led to his development in the fields of high performance computing and research computing.Rich Asay is currently a Customer Solutions Architect for Omnibond Systems LLC. He works full time on proofs of concept regarding scientific experimentation for Higher Education Researchers.</p>
			</div>
			<div class="member1">
				<img src="images/Rich_Asay2.jpg">
			</div>
		</div>
		<div class="row">
			<div class="member2">
				<img src="images/Christopher_Lanclos.jpg">
			</div>
			<div class="member2">
				<h1>Christopher Lanclos, PhD - Co-Mentor</h1>
				<p>Christopher Lanclos is PhD candidate at Mississippi State University, where he is looking to complete his PhD for Computer Science. In addition to this academic pursuit, Christopher Lanclos has also completed a Bachelor of Science for Computer Science and Mathematics as well as a Master’s Degree in Computer Science. His academic background has led to him possessing a tremendous amount of skill in using Microsoft Office and C++, among various other programming languages he has worked with. Outside of work, Christopher is known to be a self-starter, and he takes his time to read, write, and spend time with his church community. </p>
			</div>
		</div>
		<div class="row">
			<div class="member3">
				<h1>Jinwei Liu, PhD - Co-Mentor</h1>
				<p>Jinwei Liu, PhD, is an Assistant Professor at Florida A&M University. His academic background consists of a Computer Software degree from the University of Science and Technology of China and a PhD in Computer Engineering at Clemson University with a perfect GPA. Throughout his time pursuing a PhD, he also worked as a Research Assistant at the same university, and this experience motivated him to become a Research Associate at the University of Virginia. Jinwei Liu is highly motivated and has a large bandwidth of knowledge in the area of Computer Engineering and Computer Science. In addition to this, due to his research background, Jinwei has also developed very solid writing skills and design and development skills. </p>
			</div>
			<div class="member3">
				<img src="images/Jinwei_Liu.png">
			</div>
		</div>
		<div class="row">
			<div class="member4">
				<img src="images/JP_Bianchi.jpg">
			</div>
			<div class="member4">
				<h1>Jean-Pierre (JP) Bianchi - Student</h1>
				<p>Jean-Pierre Bianchi is a Masters student at the University of Illinois at Urbana-Champaign. He is currently looking to add a Master’s Degree in Computer Science to his resume after obtaining a Master’s Degree in Optoelectronics. Jean-Pierre Bianchi has shown to be a self-starter in his own right, as after working in the research and development department in General Electric, he then founded his own R&D company, ADTech Engineering, which centered around Jean-Pierre’s patent of a smart card reader. On the academic side, Jean-Pierre is looking to specialize in AI and machine learning with his pursuit of another degree; on the professional side, he is a free-lance worker who is able and willing to offer his services in the areas of electronics engineering. </p>
			</div>
		</div>
		<div class="row">
			<div class="member5">
				<h1>Ayomide Olatunde - Student</h1>
				<p>Ayomide Olatunde is an incoming sophomore majoring in Computer Science at Mississippi Valley State University. Currently, Ayomide is a Leader at the Google Developer Student Club at his university, and he also has a strong background in computer programming, shown through his skills in C++, Blender, and Microsoft Office. This strong technical background motivated Ayomide to apply to the Science Gateways Community Institute coding program. Through this program, he was able to solidify his computer science skills and gain more knowledge in the niche area of high performance computing. Continuing forward with his education, Ayomide hopes to complete his Bachelor of Science degree and pursue higher education. </p>
			</div>
			<div class="member5">
				<img src="images/Ayomide_Olatunde.jpg">
			</div>
		</div>
		<div class="row">
			<div class="member6">
				<img src="images/Chris_Metellus.jpg">
			</div>
			<div class="member6">
				<h1>Christopher Metellus - Student</h1>
				<p>Christopher Metellus is an incoming senior majoring in Mechanical Engineering at the University of Illinois at Urbana-Champaign. The semester prior to the Science Gateways Community Institute program, he realized that his limited computer programming knowledge hindered his ability to forward his research for Professor Van der Zande. In order to gain more computer skills, Christopher applied to this program in the hopes of learning new computer science skills and becoming comfortable enough to apply them towards the work he had started at his university. Christopher Metellus seeks to go to graduate school to study nanomaterials after he has obtained his Mechanical Engineering degree. </p>
			</div>
		</div>
	</section>

	<!---Footer-->
	<section class="footer">
		<h4>About Us</h4>
		<p>Team Render Benders is a hack team from the PEARC21 Hackathon which took place July 8-12, 2021.<br> This representation of our work is meant for viewing purposes only.</p>
		<!----
		<div class="icons">
			<i class="fa fa-facebook"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-facebook-square"></i>
			<i class="fa fa-facebook-square"></i>
		</div>
	-->
		<p>Made with CSS and HTML5.</p>
	</section>
</body>
</html>